* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 1.5;
}

.marquee {
    background: #dfdfdf;
    height: 30px;
    width: 100%;
    padding: 0px;
    border: none;
    position: fixed;
}

.marquee img {
    height: 13px;
}

ul, li {
    list-style: none;
}

a {
    text-decoration: none;
}

/* global variables */
.col-red {
    color: #ff0000;
}

.col-green-black {
    color: #0f2e01;
}

.col-white {
    color: #ffffff;
}

.page-width {
    width: 85%;
    margin: 0 auto;
}

.center {
    text-align: center;
}

.justify {
    text-align: justify;
}

.large-text {
    font-size: 20px;
}

.bg-white {
    background-color: #ffffff;
}

.bg-red {
    background-color: #ff0000;
}

.bg-green-black {
    background-color: #0f2e01;
}

.bg-green {
    background-color: #86ca91;
}

.bg-light-green {
    background-color: #7d8a7b;
}

.bg-grey {
    background-color: grey;
}

/* Nav bar */
.nav-wrapper {
    padding-top: 30px;
}

.nav {
    background-color: #86ca91;
    color: #ffffff;
    width: 100%;
    height: 55px;
    border-bottom: 1px solid #7d8a7b;
}
  
.nav .nav-center .nav-header {
    display: inline;
}
  
.nav .nav-center .nav-header .nav-title {
    display: inline-block;
}
  
.nav-title {
    color: #ffffff;
    margin-top: 9px;
}

.nav-title a {
    font-size: 25px;
    color: #ffffff;
    border-bottom: 3px solid
}

.nav-title:hover a {
    color: rgba(40, 46, 41, 0.9);
    transition: 0.8s;
}
  
.nav .nav-center .nav-btn {
    display: none;
}
  
.nav .nav-center .nav-links {
    display: inline-block;
    float: right;
    font-size: 16px;
    margin-top: 15px;
}

.nav-links a {
    height: 50px;
    border: 0.5px solid #b6c9ae;
    background: #76b17f;
    padding: 10px 15px;
    color: #ffffff;
}
  
.nav .nav-center .nav-links a {
    margin-left: 10px;
    transition: border-color 0.8s;
    border-bottom-width: 0.33s;
    color: 0.4s;  
}
  
.nav .nav-center .nav-links a:hover {
    border-bottom-width: 3px;
    border-color: #ffffff;
    color: #e4f0e3;
    background: #6a966dd8;
}
  
.nav .nav-center #nav-check {
    display: none;
}
  
.nav-center {
    width: 85%;
    margin: 0 auto;
}

.active {
    background: #88da8f;
}

/* Showcase */
.showcase {
    align-items: center;
    background-image: linear-gradient(to right bottom, rgba(52, 93, 112, 0.5), rgba(40,180,133,0.9)
    ), url(../images/INEC.jpg);
    background-size: cover;
    height: 60vh;
    justify-content: center;
    color: #ffffff;
    display: flex;
    flex-direction: column;
}

.showcase-title {
    font-size: 3em;
}

.showcase-text {
    line-height: 2;
}

.showcase-btn {
    margin-top: -45.5px;
    cursor: pointer;
}

/* Information section */
.row-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: auto;
    padding: 5% 0;
}

.row-items {
    margin: 5%;
    padding: 0 3px;
}

.row-items img {
    height: 8em;
    display: block;
    margin: 5% auto;
}

.row-items p {
    padding-top: 15px;
}

/* Registration form */
.form-wrapper {
    width: 50%;
    margin: auto;
    margin-top: 3%;
    margin-bottom: 3%;
    padding: 2% 0 2% 4%;
    border: 1px solid #dcdcdc;
    box-shadow: 1px 1px 1px #888888;
    background: #ffffff;
}

.form-wrapper label {
    display: block;
    margin-top: 3%;
}

.form-wrapper input, .modal-content input {
    display: block;
    width: 90%;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-top: 1%;
    padding: 2%;
    border-left: 2px solid #888888;
    font-size: 16px;
}

.form-wrapper input:focus {
    outline: 1px solid #86CA91;
}

.radio input:focus {
    outline: none;
}

.upload input {
    font-size: 14px;
}

.form-wrapper button {
    margin-top: 2%;
    font-size: 17px;
    height: 35px;
    width: 30%;
    border-color: #7d8a7b;
    border-radius: 3px;
}

.form-wrapper button:hover {
    box-shadow: 0px 2px 2px #888888;
    transition: 0.5s;
}

.inline {
    display: inline-block;
    padding: 0 10px;
}

.reg-btn input {
    cursor: pointer;
    width: 100px;
    height: 40px;
    border: none;
    margin-top: 20px;
}

.reg-btn input:hover {
    opacity: 0.8;
    transition: 0.7s;
}

.links {
    font-size: 14px;
    margin-top: 30px;
    margin-left: 60%;
    float: left;
}

.links a:hover {
    text-decoration: underline;
}

/* Signin form */
.login-form {
    margin-top: 0px;
}

.login-form p{
    font-size: 20px;
}
 
.form-header {
    width: 50%;
    margin: auto;
    margin-top: 8%;
    border: none;
    box-shadow: 1px 1px 1px #888888;
}

.form-grid input {
    height: 50px;
    font-size: 17px;
    letter-spacing: 3px;
    cursor: pointer;
    outline: none;
}

.form-active {
    background-color: #e2e2e2;
    border: none;
    color: #ffffff;
}

.form-inactive {
    background-color: #7d8a7b;
    border: none;
}

.form-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.form-btn input {
    cursor: pointer;
    border: none;
}

.form-btn input:hover {
    background: #87bd70;
    transition: 0.6s;
    box-shadow: 0px 2px 2px #888888;
}

.pass-reset {
    margin-top: 3%;
    margin-left: 65%;
}

/* Reset password */
.pass-reset:hover {
    text-decoration: underline;
}

.box-header {
    display: grid;  
}

.box-header input {
    height: 50px;
    font-size: 17px;
    letter-spacing: 3px;
}

/* Profile section */
.profile-header {
    padding: 25px 0;
    background: #f7f4f4;
    border-bottom: 1px solid #cfcccc;
}

.profile-info {
    display: inline-block;
    float: right;
    margin-top: 10px;
    margin-right: 450px;
}

.profile-info h2 {
    font-size: 40px;
    letter-spacing: 2px;
    color: #888888;
}

.profile-info h4 {
    padding: 3px;
    color: #304e35
}

.profile-header img {
    height: 150px;
    border-radius: 50%;
    margin-left: 300px;
}

.profile-content {
    display: grid;
    grid-template-columns: 18% 82%;
    height: 10%;
    margin: auto;
}

.sidebar {
    background: #96e79d;
    padding: 20px 0px;
    font-size: 17px;
}

.sidebar-menu a, .modal-link {
    color: #ffffff;
    padding: 15px 10px;
    display: block;
}

.modal-link {
    cursor: pointer;
}

.sidebar-menu a:hover, .modal-link:hover {
    background-color: #8ce293;
    transition: 0.33333s;
}

/* party list */
.main-area {
    margin-bottom: 20px;
}

.main-area h2 {
    margin-top: 20px;
    margin-left: 55px;
    font-size: 40px;
    color: #0f2e01;
}

.column {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 20px 50px;
    padding-bottom: 10px;
}

.box {
    height: 100%;
    border: 3px solid #f4f4f4;
    border-radius: 6px;
    margin: 5px;
    box-shadow: 2px 3px;
}

.odd {
    background: #86CA91;
}

.box:hover {
    opacity: 0.8;
}

.even {
    background: #86aa89;
}

.box-inner {
    padding: 5px;
}

.box-name {
    display: inline-block;
    float: right;
    margin-top: 15px;
    margin-right: 30px;
    font-size: 30px;
    letter-spacing: 3px;
}

.box-info {
    font-size: 16px;
    margin-top: 5px;
}

.box img {
    height: 60px;
    border-radius: 50%;
    border: 1px solid #c7c5c5;
}

/* Modal style */
.modal-content input[type="text"], .modal-content input[type="password"] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    background: #f1f1f1;
  }

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

.modal-container {
  padding: 60px;
}

.modal {
  display: none; 
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%;
  overflow: auto;
  background-color: #45524ae5;
}

.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto;
  border: none;
  box-shadow: 2px 3px;
  width: 70%;
}

hr {
  border: 1px solid #e9f0ed;
  margin-bottom: 25px;
}

.close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
}

.close:hover,
.close:focus {
  color: #6fee8b;
  cursor: pointer;
}

/* candidate table */
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }
  th, td {
    padding: 15px;
    text-align: left;    
  }

  table {
    table-layout:fixed;
    width: 100%;
  }

  .table-area {
    padding: 30px;
  }

<<<<<<< HEAD
  th.col-10 {
      width: 10%;
  }

  th.col-15 {
      width: 15%;
  }

=======
>>>>>>> develop
  th.col-20 {
      width: 20%;
  } 
  
  th.col-30 {
    width: 30%;
  }

  .candidate th {
      background-color: #1e3f0f88;
      color: #ffffff;
      font-size: 20px;
  }

  .candidate-box:nth-child(even), .party-box:nth-child(even) {
      background: #cfe9c4;
  }

  .candidate-box:nth-child(odd), .party-box:nth-child(odd) {
      background: #c8dacd;
  }

  .candidate-box-area, .party-box-area {
    display: grid;
    grid-template-columns: 30% 70%;
    padding-bottom: px;
}

.party-box-area  {
    padding: 20px 0;
}

.candidate-box-area h3, .party-box-area h3 {
    font-size: 25px;
}

.candidate-box-area img, .party-box-area img {
    border-radius: 100%;
    height: 80%;
    width: 80%;
}

.federal {
    background: #6a966dd8;
}

.legislative {
    background: #1e3f0f88;
}

.state {
    background: #7d977188;
}

.local {
    background: #5b855ed8
}

<<<<<<< HEAD
/* voting table */
.vote-btn-area {
    padding: 20px 0px;
}

.vote-btn {
    height: 50px;
    width: 120px;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
    background: #314d37;
    border: none;
    outline: none;
}

.vote-btn:hover {
    opacity: 0.6;
    transition: 0.6s;
}


=======
>>>>>>> develop
.footer {
    text-align: center;
    background: #5a5a5a;
    padding: 15px;
    color: #ffffff;
    font-size: 16px;
}
  
@media (max-width:670px) {
    .nav .nav-center .nav-btn {
      display: inline-block;
      position: absolute;
      right: 12px;
      top: 20px;
    }
    .nav .text .nav-btn label {
      display: inline-block;
      width: 50px;
      height: 50px;
      padding: 13px;
    }
    .nav .nav-center .nav-btn label:hover {
      background-color: rgba(0, 0, 0, 0.3);
    }
    .nav .nav-center .nav-btn label span {
      display: block;
      width: 25px;
      height: 10px;
      border-top: 2px solid #eee;
    }
    .nav .nav-center .nav-links {
      position: absolute;
      display: block;
      width: 100%;
      background-color: #666060;
      height: 0px;
      transition: all 0.3s ease-in;
      overflow-y: hidden;
      top: 70px;
      left: 0px;
    }
    .nav .nav-center .nav-links a {
      display: block;
      width: 100%;
      padding: 0px;
      color: #efefef;
      border: none;
      margin-top: 10px;
      height: 30px;
    }
    .nav .nav-center .nav-links a:hover {
        color: #60fa19;
        transition: 0.8s;
    }
    .nav .nav-center  #nav-check:not(:checked) + .nav-links {
      height: 0px;
    }
    .nav .nav-center #nav-check:checked + .nav-links {
      height: calc(100vh - 100px);
      overflow-y: auto;
    }

    .showcase {
        display: block;
        align-items: center;
    }

    .showcase-title {
        font-size: 25px;
        text-align: center;
        padding: 20px;
    }

    .showcase-text {
        font-size: 16px;
        padding: 20px;
        line-height: 1.6;
    }

    .row-content {
        grid-template-columns: 100%;
    }

    .form-wrapper {
        width: 90%;
    }

    .form-header {
        width: 90%;
    }
}